.git
.gitignore
.github
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
venvml/
ENV/
env/
.DS_Store
*.log
logs/
.pytest_cache/
.coverage
htmlcov/
.tox/
.dvc
.dvcignore
mlruns/
dvc.lock
.env
.env.local
docker/
tests/
README.md
Makefile
*.csv
.vscode/
.github/